<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>loginForm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
</head>
<body class="is-preload">
    <th:block th:replace="layouts/header :: header"></th:block>
        <!-- Main -->
            <div id="main" style="display:flex; justify-content:center;">
                <div class="container" style="width: 30%; text-align: center;">
                    <div>

                        <div>
                            <br>
                            <div sec:authorize="isAnonymous()" style="text-align: center">
                                Jin's Blog
                            </div>
                            <div sec:authorize="isAuthenticated()" style="text-align: center">
                                Jin's Blog
                            </div>

                            <div>
                                <div>
                                    <form th:action="@{/login}"   action="/login" method="post" id="loginForm" sec:authorize="isAnonymous()">
                                        <div>
                                            <label>ID</label>
                                            <input type="text"  name="username" style="height: 50px">
                                        </div>
                                        <div>
                                            <label>PASSWORD</label>
                                            <input type="password"  name="password" style="height: 50px">
                                        </div>
                                        <div>
                                            <button type="submit" style="width: 100%;">LOGIN</button>
                                        </div>
                                        <div style="text-align: center">
                                            <a href="#" style="font-size: 18px">forgot id?</a>
                                            <span>/</span>
                                            <a href="#" style="font-size: 18px">forgot password?</a>
                                            <span>/</span>
                                            <a href="#" th:href="@{/moveRegisterForm}" style="font-size: 18px">Join</a>
                                        </div>
                                    </form>



                                    <div>
                                        <th:block sec:authorize="isAuthenticated()">
                                            <!-- <span sec:authentication="principal.name"></span>님 <br> -->
                                            <form id="logoutForm" th:action="@{/logout}" method="post">
                                                <div>
                                                    <button type="submit" style="width: 100%;">LOGOUT</button>
                                                </div>
                                            </form>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
    <br><br>
    <th:block th:replace="layouts/footer :: footer"></th:block>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
</body>
</html>