<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>adminForm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="css/main.css" />
</head>
<body class="is-preload">
<th:block th:replace="layouts/header :: header"></th:block>
<!-- Main -->
<div id="main">
  <div class="container">
    <div class="row">
      <span>관리자폼입니다</span>
    </div>
  </div>
</div>
<br><br>
<th:block th:replace="layouts/footer :: footer"></th:block>

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/jquery.scrollex.min.js"></script>
<script src="js/browser.min.js"></script>
<script src="js/breakpoints.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>
</body>
</html>